@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
  margin: 0;
  align-items: center;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header {
  align-self: center;
  font-family: 'Roboto';
  font-weight: 0,300;
  font-size: 3.5rem;
  color: #082B02;
  text-shadow:0px 0px 18px #2EEA0C;
  padding-left: 70px; 
  padding-top: 18px;
  
}

.navbar {
  flex-direction: column;
  background-color: aqua;
}

.nav-links {
  font-size: 24px;
  color: #076005;
  text-shadow: 0px 0px 5px #2AC60F;
}

.routine-list-container {
  width: 30%;
  height: 400px;
  align-self: center;
  text-align: left;
  text-indent: 30px;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  display: inline-block;
  margin-left: 10%;
  background-color: beige;
  box-shadow: -2px 5px 15px grey;
}

.message {
  width: 30%;
  height: 60px;
  align-self: center;
  text-align: left;
  text-indent: 30px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: inline-block;
  margin-left: 10%;
  background-color: rgb(216, 181, 168);
  box-shadow: -2px 5px 15px rgb(243, 49, 49);
}


.form {
  display: inline-block;
  padding: 1rem 1rem;
  width: 30%;
  height: 400px;
  align-self: center;
  text-align: left;
  text-indent: 30px;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  display: inline-block;
  margin-left: 10%;
  background-color: beige;
  box-shadow: -2px 5px 15px grey;
}


ul.routinelist {
  max-width: 600px;
  margin-left: 3%
}

ul.routinelist > li {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;  
}

.search-products {
  width: 320px;
  max-width: 500px;
  align-self: center;
  text-align: center;
  margin-left: 10%;
  margin-bottom: 1%;
  background-color: rgb(195, 214, 150);
  box-shadow: -2px 5px 15px grey;
}

.routine-image {
  width: 220px;
  height: 80px;
  align-self: center;
  text-align: left;
  text-indent: 20px;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  display: inline-block;
  margin-left: 18%;
  background-color: rgb(107, 245, 89);
  box-shadow: -2px 5px 15px grey;
}

.h2 {
  font-size: 24;

}

ul.productlist {
  max-width: 600px;
  margin-left: 3%
}

ul.productlist > li {
  text-overflow: ellipsis;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;  
}